.body {
  background-color: #b95555;
  margin-bottom: 200px;
}

.header {
  font-size: 24px;
  text-align: center;
  font-family: Stencil Std, fantasy;
  font-style: normal;

}


.home {
  text-align: left;
  font-family: sans-serif;
  font-style: normal;
}

.home_page {
  font-size: 24px;
}

.main_page {
  margin-left: 150px;
}
.contact_page {
  margin-right: 150px;
}

.notranslate {
  font-size: 24px;
}


.choice__text_notranslate {
  font-size: 18px;
}
.desc_notranslate {
  font-size: 24px;
}